<section class="container">
  <%= render BlockScoutWeb.TransactionView, "overview.html", assigns %>

  <script defer data-cfasync="false" src="<%= static_path(@conn, "/js/token-transfers-toggle.js") %>"></script>
 </section>
