
<div connected-to class="connect-container row hidden">
    <div class="d-flex ml-3">
      <h5 class="ml-2">Connected to</h5><h5 connected-to-address></h5>
    </div>

    <%# <button disconnect-wallet class="button btn-line ml-3">Disconnect wallet</button> %>

    <button disconnect-wallet  class="button ml-3 bg-success text-white">Disconnect</button>

</div>
