<div class="col-md-6 bg-light border">
    <div class="row">
    <div class="col-md-3">BSD</div>
    <div class="col-md-3">INRx</div>
    <div class="col-md-3">Calculas</div>
    <div class="col-md-3">TRlkjsdfdf</div>
    </div>
</div>
